.notification,
.error {
  display: inline-block;
  margin: 20px 0;
  border: 3px solid;
  font-size: 32px;
  background-color: gray;
}

.notification {
  border-top: green;
  color: green;
}

.error {
  border-color: red;
  color: red;
}
